<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.IBlogMemberMapper">

	<resultMap type="blogMemberVO" id="memberMap">
		<id property="memNo" column="mem_no"/>
		<result property="memNo" column="mem_no"/>
		<result property="memId" column="mem_id"/>
		<result property="memPw" column="mem_pw"/>
		<result property="memName" column="mem_name"/>
		<result property="memEmail" column="mem_email"/>
		<result property="memProfileimg" column="mem_profileimg"/>
		<result property="memRegdate" column="mem_regdate"/>
		<result property="memUpddate" column="mem_upddate"/>
		<collection property="authList" resultMap="authMap"/>
	</resultMap>
	
	<resultMap type="blogMemberAuthVO" id="authMap">
		<result property="memNo" column="mem_no"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="readByUserInfo" parameterType="string" resultMap="memberMap">
		select
			m.mem_no, mem_id, mem_pw, mem_name, mem_email, mem_profileimg, mem_regdate, mem_upddate, auth
		from blogmember m left outer join blogmember_auth ma on(m.mem_no = ma.mem_no)
		where mem_id = #{memId}
	</select>
	
	<select id="checkId" parameterType="string" resultType="kr.or.ddit.vo.BlogMemberVO">
		select
			mem_no, mem_id, mem_pw, mem_name, mem_email, mem_profileimg, mem_regdate, mem_upddate
		from
			blogmember
		where
			mem_id = #{memId}	
	</select>
	
	<insert id="signup" parameterType="kr.or.ddit.vo.BlogMemberVO" useGeneratedKeys="true">
		<selectKey keyProperty="memNo" resultType="int" order="BEFORE">
			select seq_blogmember.nextval from dual
		</selectKey>
		insert into blogmember(
			mem_no, mem_id, mem_pw, mem_name, mem_email, mem_profileimg, mem_regdate, mem_upddate
		)values(
			#{memNo},#{memId},#{memPw},#{memName},#{memEmail},#{memProfileimg},sysdate,sysdate
		)
	</insert>

	<insert id="addAuth" parameterType="int">
		insert into blogmember_auth(
			mem_no, auth
		)values(
			#{memNo}, 'ROLE_MEMBER'
		)
	</insert>
	
	<select id="signin" parameterType="kr.or.ddit.vo.BlogMemberVO" resultMap="memberMap">
		select
			m.mem_no, mem_id, mem_pw, mem_name, mem_email, mem_profileimg, mem_regdate, mem_upddate, auth
		from
			blogmember m	
				left join blogmember_auth ma
					on(m.mem_no = ma.mem_no)
		where
			mem_id = #{memId}
	</select>
	
</mapper>