<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.domain.central.admin.mapper.IAnlsMapper">

    <select id="selectRecruitingAnnList" resultType="java.util.Map">
        SELECT B.ANN_NO AS "annNo"
             , B.TTL AS "ttl"
             , (SELECT COUNT(*) FROM RENT_LISTING WHERE ANN_NO = B.ANN_NO) AS "supplyCnt"
             , (SELECT COUNT(*) FROM APLCT WHERE ANN_NO = B.ANN_NO) AS "applicantCnt"
             , NVL(ROUND((SELECT COUNT(*) FROM APLCT WHERE ANN_NO = B.ANN_NO) /
                         NULLIF((SELECT COUNT(*) FROM RENT_LISTING WHERE ANN_NO = B.ANN_NO), 0) * 100, 2), 0) AS "rate"
        FROM CENTER_ANN_BOARD_POST B
        WHERE SYSDATE BETWEEN B.RCRT_BGNG_DT AND B.RCRT_END_DT;
    </select>
</mapper>